# This is compliled from zamiel-bot.js
zamiel-bot-babel.js

# This is from "npm install" and does not need to be in the repository
node_modules

# This is the directory of all of the passwords
passwords

# This is just a temporary file used by the update-races.pl script
update-races/new-races.json
logs
