# This is compliled from bot.es7
bot.js

# This is from "npm install" and does not need to be in the repository
node_modules

# This is the directory of all of the passwords
passwords

# This is just a temporary file used by the update-races.pl script
update-races/new_races.json
